<header>
  <search
    class="relative mx-auto flex flex-col items-center justify-center p-3 gap-3"
  >
    <div class="flex items-center">
      <input
        [formControl]="searchControl"
        type="search"
        placeholder="Insira o nome da cidade"
        (keyup.enter)="onSearch()"
        class="rounded-l-xl p-1.5 pl-3 text-neutral-900 dark:text-emerald-50 bg-emerald-50 placeholder:text-neutral-600 dark:bg-neutral-600 dark:placeholder:text-neutral-400 transition-colors duration-500 focus:outline-none focus:ring-0 hover:bg-emerald-100 dark:hover:bg-neutral-500 focus:bg-emerald-100 dark:focus:bg-neutral-500"
      />
      @if (!isLoading()) {
      <button
        type="button"
        (click)="onSearch()"
        class="rounded-r-xl p-1.5 pr-3 bg-emerald-50 text-neutral-900 transition-colors duration-500 dark:bg-neutral-600 dark:text-neutral-200 hover:bg-emerald-100 dark:hover:bg-neutral-500 focus:outline-none focus:ring-0"
      >
        Buscar
      </button>
      } @if (isLoading()) {
      <button
        type="button"
        disabled
        class="rounded-r-xl p-1.5 pr-3 text-neutral-900 transition-colors duration-500 dark:text-neutral-200 bg-emerald-100 dark:bg-neutral-500 focus:outline-none focus:ring-0 flex items-center gap-2"
      >
        <svg
          class="animate-spin h-4 w-4 text-emerald-600 dark:text-emerald-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="m4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
        Buscando...
      </button>
      }
    </div>

    @if (errorMessage()) {
<div role="alert" class="rounded-xl bg-red-500 p-3">
  <div class="flex items-center gap-2 text-white">
    <span class="material-symbols-outlined text-white"> error </span>
    <p><span class="text-1lg font-semibold">Error: </span>{{ errorMessage() }}</p>
  </div>
</div>
    }
  </search>
</header>
